body {
	margin: 0px;
	padding: 0px;
	background-color: black; 
}

.container {
	display: flex;
	justify-content: center;
	height: 90vh;
	align-items: center; 
}

.piano-key {

	width: 40px;
	height: 200px;
	border-radius: 8px;
	margin-left: 8px;
	box-shadow: 0 0 5px  white;

	background-color: white;
	border: 2px solid gray;
	text-align: center; 



	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;	
}

.active {
	width: 50px;
	height: 250px;
	transition: 0.05s;
	box-shadow: 0 0 15px lime;
}
